<!-- Base Template for all HTML Pages -> Can be include with: layout:decorate="~{base}" -->
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>Spring Boot Thymeleaf Hello World Example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script type="text/javascript"
            src="webjars/jquery/2.2.3/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{js/main.js}" src="../static/js/main.js"></script>
    <script type="text/javascript"
            src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

    <link rel="stylesheet" th:href="@{/css/main.css}"
          href="../../css/main.css" />

</head>
<body>
<!-- Navigation made with bootstrap-->
<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Studentenverwaltung</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Suche</a></li>
                <li><a href="/greeting">Greeting</a></li>
                <li><a href="/students">Students</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right"><li><a href="/logout">Logout</a></li></ul>
        </div>

    </div>
</nav>

<div class="container">
    <div layout:fragment="page_content" id="page_content"> <!-- Content of the Page! --></div>
</div>

</body>
</html>