<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">

<div layout:fragment="page_content" id="page_content">
    <form action="/">
        <div class="form-horizontal">
            <input type="text" id="search" name="search" placeholder="Suche">
            <button type="submit" class="btn"><span class="glyphicon glyphicon-search"></span></button>
        </div>
    </form>
    <form method="post" action="/">
        <button class="btn btn-default" type="submit">Löschen</button>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Id</th>
                <th>Makieren</th>
                <th>Name</th>
                <th>E-mail</th>
                <th>Tel. Nr.</th>
                <th>Straße</th>
                <th>Ort</th>
                <th>PLZ</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="student :${students.content}">
                <td th:text="${student.getId()}"></td>
                <td><input type="checkbox" class="styled" name="id" th:value="${student.getId()}"></td>
                <td th:text="${student.getFirstName() +' '+ student.getLastName()}"></td>
                <td th:text="${student.getMail()}"></td>
                <td th:text="${student.getPhone()}"></td>
                <td th:text="${student.getAddress().getStreet()}"></td>
                <td th:text="${student.getAddress().getTown()}"></td>
                <td th:text="${student.getAddress().getZip()}"></td>
                <td><a th:href="@{findStudentById/(id=${student.getId()})}" class="btn btn-default eBtn">Ändern</a></td>
            </tr>
            </tbody>
        </table>
        <ul class="pagination pagination-lg " th:if="${students.totalPages -1} >= 0">
            <li th:each="number: ${#numbers.sequence(0, students.totalPages -1 )}"
                th:classappend="${currentPage} == ${number} ? 'active' : ''">
                <a th:href="@{/(page=${number})}" th:text="${number}"></a>
            </li>
        </ul>
        <ul class="pagination pagination-lg " th:if="${students.totalPages -1} < 0">
            <li th:each="number: ${#numbers.sequence(0,0 )}"
                th:classappend="${currentPage} == ${number} ? 'active' : ''">
                <a th:href="@{/(page=${number})}" th:text="${number}"></a>
            </li>
        </ul>
    </form>
    <div class="row">
        <div class="col-lg-2">
            <button type="button" class="btn-lg btn-primary btn-block sBtn" data-toggle="modal"
                    data-target="#createStudentModal">
                Neuer Student
            </button>
        </div>
    </div>
    <div class="modal fade" id="createStudentModal" tabindex="-1" role="dialog" aria-labelledby="createStudentModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form method="post" action="/students/create">
                    <div class="modal-header">
                        <h2 class="modal-title" id="ModalLabel">Neuen Studenten erstellen</h2>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="studentNumberCreate">student Number</label>
                            <input type="text" class="form-control" id="studentNumberCreate" name="studentNumberCreate">
                        </div>
                        <div class="form-group">
                            <label for="firstNameCreate">First Name</label>
                            <input type="text" class="form-control" id="firstNameCreate" name="firstNameCreate">
                        </div>
                        <div class="form-group">
                            <label for="lastNameCreate">Last Name</label>
                            <input type="text" class="form-control" id="lastNameCreate" name="lastNameCreate">
                        </div>
                        <div class="form-group">
                            <label for="mailCreate">Mail</label>
                            <input type="text" class="form-control" id="mailCreate" name="mailCreate">
                        </div>
                        <div class="form-group">
                            <label for="phoneCreate">Phone</label>
                            <input type="number" class="form-control" id="phoneCreate" name="phoneCreate">
                        </div>
                        <div class="form-group">
                            <label for="dateOfBirthCreate">date Of Birth</label>
                            <input type="text" class="form-control" id="dateOfBirthCreate" name="dateOfBirthCreate">
                        </div>
                        <div class="form-group">
                            <label for="ZipCreate">Address</label>
                            <input type="number" class="form-control" id="ZipCreate" name="ZipCreate">
                        </div>
                        <div class="form-group">
                            <label for="TownCreate">Address</label>
                            <input type="text" class="form-control" id="TownCreate" name="TownCreate">
                        </div>
                        <div class="form-group">
                            <label for="StreetCreate">Address</label>
                            <input type="text" class="form-control" id="StreetCreate" name="StreetCreate">
                        </div>
                        <div class="form-group">
                            <label for="HouseNumberCreate">Address</label>
                            <input type="number" class="form-control" id="HouseNumberCreate" name="HouseNumberCreate">
                        </div>
                        <div class="form-group">
                            <label for="coursesCreate">Courses</label>
                            <input type="text" class="form-control" id="coursesCreate" name="coursesCreate">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
                        <button type="submit" class="btn btn-primary">Speichern</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="updateForm">
        <form th:action="@{/updateStudent}" method="post">
            <div class="modal fade" id="updateModel" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Daten von <span id="studentname"></span> ändern</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="firstname" class="col-form-label">Name</label>
                                <input class="form-control" id="firstname" name="firstName" value=""/>
                            </div>
                            <div class="form-group">
                                <label for="lastname" class="col-form-label">Nachname</label>
                                <input class="form-control" id="lastname" name="lastName" value=""/>
                            </div>
                            <div class="form-group">
                                <label for="mail" class="col-form-label">E-mail</label>
                                <input class="form-control" id="mail" name="mail" value=""/>
                            </div>
                            <div class="form-group">
                                <label for="phone" class="col-form-label">Tel. Nr.</label>
                                <input class="form-control" id="phone" name="phone" value=""/>
                            </div>
                            <div class="form-group">
                                <label for="dateOfBirth" class="col-form-label">Geburtstag</label>
                                <input class="form-control" id="dateOfBirth" name="dateOfBirth" value=""/>
                            </div>
                            <div class="form-group" hidden="true">
                                <label for="studentNumber" class="col-form-label">Studentennummer</label>
                                <input class="form-control" id="studentNumber" name="studentNumber" value=""/>
                            </div>
                            <div class="form-group">
                                <label for="adressID" class="col-form-label">Adresse</label>
                                <input class="form-control" id="adressID" name="adress" value=""/>
                            </div>
                            <div class="form-group" hidden="true">
                                <label for="id" class="col-form-label">id</label>
                                <input class="form-control" id="id" name="id" value=""/>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label for="town" class="col-form-label">Stadt</label>
                                        <input class="form-control" id="town" name="town" value=""/>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="zip" class="col-form-label">PLZ</label>
                                        <input class="form-control" id="zip" name="zip" value=""/>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="form-group">
                                        <label for="street" class="col-form-label">Straße</label>
                                        <input class="form-control" id="street" name="street" value=""/>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="house_number" class="col-form-label">Nr</label>
                                        <input class="form-control" id="house_number" name="houseNumber" value=""/>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
                            <input type="submit" class="btn btn-primary" value="Speichern"/>
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>


