<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">

    <div layout:fragment="page_content" id="page_content">
        <table th:object="${students}" id="userTable" border="1">
            <tr>
                <th>Student ID</th>
                <th>Student Number</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Course</th>
                <th>Phone</th>
                <th>Date Of Birth</th>
                <th>Address</th>
                <th>Mail</th>
            </tr>
            <tr th:each="student :${students.content}">
                <td  th:text="${student.getId()}"></td>
                <td  th:text="${student.getStudentNumber()}"></td>
                <td  th:text="${student.getFirstName()}"></td>
                <td  th:text="${student.getLastName()}"></td>
                <td  th:text="${student.getCourse()}"></td>
                <td  th:text="${student.getPhone()}"></td>
                <td  th:text="${student.getDateOfBirth()}"></td>
                <td  th:text="${student.getAddress()}"></td>
                <td  th:text="${student.getMail()}"></td>
            </tr>
        </table>
        <ul class="pagination pagination-lg ">
            <li  th:each="number: ${#numbers.sequence(0, students.totalPages -1 )}"  th:classappend="${currentPage} == ${number} ? 'active' : ''">
                <a th:href="@{/students(page=${number})}" th:text="${number}"></a>
            </li>
        </ul>

    </div>


