<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">

<div layout:fragment="page_content" id="page_content">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Rolle</th>
            <th>Status</th>
            <th>Sperren</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="u :${user.content}">
            <td th:text="${u.getId()}"></td>
            <td th:text="${u.getRole()}"></td>
            <td th:text="${u.getUsername()}"></td>
            <td th:text="${u.isLocked()} ? Gesperrt : Zugriff"></td>
            <td><a th:href="@{lockUserById/(id=${u.getId()})}" th:text="${u.isLocked()} ? Entsperren : Sperren"
                   class="btn btn-default ebtn"></a></td>
        </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="col-lg-2">
            <button type="button" class="btn-lg btn-primary btn-block" data-toggle="modal"
                    data-target="#createUserModal">
                Neuer User
            </button>
        </div>
    </div>
    <ul class="pagination pagination-lg ">
        <li th:each="number: ${#numbers.sequence(0, user.totalPages -1 )}"
            th:classappend="${currentPage} == ${number} ? 'active' : ''">
            <a th:href="@{/(page=${number})}" th:text="${number}"></a>
        </li>
    </ul>


    <div class="modal fade" id="createUserModal" tabindex="-1" role="dialog" aria-labelledby="createUserModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form method="post" action="/user/create">
                    <div class="modal-header">
                        <h2 class="modal-title" id="exampleModalLabel">Neuen Kurs erstellen</h2>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" id="username" name="username">
                        </div>
                        <div class="form-group">
                            <label for="password">Passwort</label>
                            <input type="text" class="form-control" id="password" name="password">
                        </div>
                        <div class="form-group">
                            <label>Role</label>
                            <select id="role" name="role">
                                <option value="ROLE_ADMIN">Admin</option>
                                <option value="ROLE_User">User</option>
                            </select>
                        </div>
                    </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
                <button type="submit" class="btn btn-primary">Speichern</button>
            </div>
            </form>
        </div>
    </div>
</div>

</div>